<div class="modal fade" id="carrito" tabindex="-1" aria-labelledby="carritoModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="carritoModal">Carrito</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div *ngIf="flag==0" class="modal-body">
                <h6>NO HAS AGREGADO PRODUCTOS AL CARRITO</h6>
            </div>
            <div *ngIf="flag==1" class="modal-body">

                <div *ngFor="let item of mostrar; let i=index" class="row d-flex align-items-center mb-3">
                    <div class="col">
                        <img src="https://nekonokokoroapi.herokuapp.com/images/productos/{{item.img}}" width="50" alt="">
                    </div>
                    <div class="col">{{item.nombre}}</div>
                    <div class="col">${{item.precioUni}}</div>
                    <div class="col">
                        <button (click)="borrarPro(indexes[i])" type="button" class="btn btn-warning">
                      <i class="fas fa-trash text-white"></i>
                  </button>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button (click)="del()" *ngIf="flag==1" type="button" class="btn btn-secondary" data-dismiss="modal">Eliminar Todo</button>
                <button (click)="buy()" *ngIf="flag==1" type="button" class="btn btn-anime text-white">Procesar</button>
            </div>
        </div>
    </div>
</div>
