<!--Footer-->
<section>
    <footer class="bg-dark text-light">
        <div class="container mt-5">
            <div class="row py-4">
                <div class="col-12 col-lg-6">
                    <p class="mb-1">5 de Mayo 202-216, Obregon, C.P. 37000 León, Gto.</p>
                </div>
                <div class="col-12 col-lg-6 d-flex flex-row justify-content-center">
                    <p class="mb-1">Neko No Kokoro &reg; 2020, Todos los Derechos Reservados</p>
                </div>
            </div>
        </div>
    </footer>
</section>
<!--Footer-->