<!--Navbar header-->
<!--Navbar Header-->


<div class="py-5 seccion-01">
    <!--Hero Banner Carousel-->
    <app-carousel></app-carousel>
    <!--Hero Banner Carousel-->

    <!--Imagenes Categorias-->
    <app-categorias></app-categorias>
    <!--Imagenes Categorias-->
</div>


<div class="seccion-02">
    <!--Texto-->
    <app-bienvenida></app-bienvenida>
    <!--Texto-->
</div>


<!--Productos Recomendados-->
<app-recomendados></app-recomendados>
<!--Productos Recomendados-->

<!--Footer-->

<!--Footer-->


<!-- Modal Carrito-->

<!-- Modal Carrito-->

<!-- Modal Login-->

<!-- Modal Login-->

<!-- Modal Registro-->

<!-- Modal Login-->

<!-- Modal Mi Cuenta-->

<!-- Modal Mi Cuenta-->

<!-- Modal Modificar Cuenta-->

<!-- Modal Modificar Cuenta-->