<div class="row row-cols-2 row-cols-xl-5">
    <div class="col">
        <div class="card border-0 py-4">
            <a href="#">
                <img src="assets/img/06.jpg" class="card-img-top" alt="...">
                <div class="card-body mt-3 p-0">
                    <h5 class="card-title titulo-producto">Cartuchera Pokemón</h5>
                    <div class="row my-2">
                        <div class="col-7"><span class="precio">$250.00 MXN</span></div>
                        <div class="col-5 text-center">Quedan: <span class="stock">
                            30</span></div>
                    </div>
                    <p class="card-text">Protege tus útiles con Pikachu.</p>
                </div>
            </a>
        </div>
    </div>
</div>