<!--Productos Recomendados-->
    <section>
        <div class="container mt-5 pt-4 mb-5 pb-3">
            <div class="row pb-5">
                <div class="col-12 text-center mb-lg-5">
                    <h5 class="text-uppercase fs-6 semibold">neko no kokoro</h5>
                    <h2>¡Lo más popular, lo más nuevo!</h2>
                    <div class="col-1 mx-auto pt-1">
                        <hr/>
                    </div>

                </div>
                <div id="carouselRecomendados" class="carousel slide carousel-dark position-relative mt-2"
                    data-ride="carousel">
                    <ol class="carousel-indicators position-absolute mx-auto top-100 pt-5 left-50 translate-middle">
                        <li data-target="#carouselRecomendados" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselRecomendados" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-touch="true">
                            <div class="row row-cols-2 row-cols-xl-5">
                                <div class="col">
                                    <div class="card border-0 py-4">
                                        <a href="#">
                                            <img src="assets/img/01.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body mt-3 p-0">
                                                <h5 class="card-title titulo-producto">Anillos Akatsuki</h5>
                                                <div class="row my-2">
                                                    <div class="col-7"><span class="precio">$350.00 MXN</span></div>
                                                    <div class="col-5 text-center">Quedan: <span class="stock">
                                                            15</span></div>
                                                </div>
                                                <p class="card-text">Únete a la organización Akatsuki.</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card border-0 py-4">
                                        <a href="producto.html">
                                        <img src="assets/img/02.jpg" class="card-img-top" alt="...">
                                        <div class="card-body mt-3 p-0">
                                            <h5 class="card-title titulo-producto">Brochas Pokemón</h5>
                                            <div class="row my-2">
                                                <div class="col-7"><span class="precio">$50.00 MXN</span></div>
                                                <div class="col-5 text-center">Quedan: <span class="stock"> 12</span>
                                                </div>
                                            </div>
                                            <p class="card-text">Hermosas brochas sintéticas para ojos</p>
                                        </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card border-0 py-4">
                                        <a href="producto.html">


                                            <img src="assets/img/03.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body mt-3 p-0">
                                                <h5 class="card-title titulo-producto">Camisa Pokemón</h5>
                                                <div class="row my-2">
                                                    <div class="col-7"><span class="precio">$250.00 MXN</span></div>
                                                    <div class="col-5 text-center">Quedan: <span class="stock">
                                                            5</span></div>
                                                </div>
                                                <p class="card-text">Camisa Unisex Pokemon</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card border-0 py-4">
                                        <a href="producto.html">


                                            <img src="assets/img/04.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body mt-3 p-0">
                                                <h5 class="card-title titulo-producto">Mochila Inuyasha</h5>
                                                <div class="row my-2">
                                                    <div class="col-7"><span class="precio">$750.00 MXN</span></div>
                                                    <div class="col-5 text-center">Quedan: <span class="stock">
                                                            2</span></div>
                                                </div>
                                                <p class="card-text">Mochila Tipo Maletín Súper Cute</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card border-0 py-4">
                                        <a href="producto.html">


                                            <img src="assets/img/05.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body mt-3 p-0">
                                                <h5 class="card-title titulo-producto">Capa Akatsuki</h5>
                                                <div class="row my-2">
                                                    <div class="col-7"><span class="precio">$1050.00 MXN</span></div>
                                                    <div class="col-5 text-center">Quedan: <span class="stock">
                                                            3</span></div>
                                                </div>
                                                <p class="card-text">Conviertete en un Akatsuki con esta increíble capa</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-touch="true">
                            <div class="row row-cols-2 row-cols-xl-5">
                                <div class="col">
                                    <div class="card border-0 py-4">
                                        <a href="#">
                                            <img src="assets/img/06.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body mt-3 p-0">
                                                <h5 class="card-title titulo-producto">Cartuchera Pokemón</h5>
                                                <div class="row my-2">
                                                    <div class="col-7"><span class="precio">$250.00 MXN</span></div>
                                                    <div class="col-5 text-center">Quedan: <span class="stock">
                                                            30</span></div>
                                                </div>
                                                <p class="card-text">Protege tus útiles con Pikachu.</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card border-0 py-4">
                                        <a href="producto.html">
                                        <img src="assets/img/07.jpg" class="card-img-top" alt="...">
                                        <div class="card-body mt-3 p-0">
                                            <h5 class="card-title titulo-producto">LightStick de SevenTeen</h5>
                                            <div class="row my-2">
                                                <div class="col-7"><span class="precio">$450.00 MXN</span></div>
                                                <div class="col-5 text-center">Quedan: <span class="stock"> 10</span>
                                                </div>
                                            </div>
                                            <p class="card-text">Canta como tu grupo de KPop favorito</p>
                                        </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card border-0 py-4">
                                        <a href="producto.html">


                                            <img src="assets/img/08.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body mt-3 p-0">
                                                <h5 class="card-title titulo-producto">Mascarilla en polvo</h5>
                                                <div class="row my-2">
                                                    <div class="col-md-7"><span class="precio">$250.00 MXN</span></div>
                                                    <div class="col-md-5 text-center">Quedan: <span class="stock">
                                                            2</span></div>
                                                </div>
                                                <p class="card-text">Hidratante y exfoliante. Para piel mixta-grasa</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card border-0 py-4">
                                        <a href="producto.html">


                                            <img src="assets/img/09.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body mt-3 p-0">
                                                <h5 class="card-title titulo-producto">Pantuflas Sailor Moon</h5>
                                                <div class="row my-2">
                                                    <div class="col-7"><span class="precio">$300.00 MXN</span></div>
                                                    <div class="col-5 text-center">Quedan: <span class="stock">
                                                            7</span></div>
                                                </div>
                                                <p class="card-text">Luce cómoda y cute esta cuarentena</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card border-0 py-4">
                                        <a href="producto.html">


                                            <img src="assets/img/10.jpg" class="card-img-top"
                                                alt="...">
                                            <div class="card-body mt-3 p-0">
                                                <h5 class="card-title titulo-producto">Reloj de Bolsillo.</h5>
                                                <div class="row my-2">
                                                    <div class="col-7"><span class="precio">$400.00 MXN</span></div>
                                                    <div class="col-5 text-center">Quedan: <span class="stock">
                                                            10</span></div>
                                                </div>
                                                <p class="card-text">Para que el poder lunar este contigo siempre</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Productos Recomendados-->
