<div class="modal fade" id="mostrarproducto" tabindex="-1" aria-labelledby="modalLogin" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="miCuenta">Producto comprado</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center align-items-center my-4">
                    <!--Aca metes la imagen-->
                    <img src="https://nekonokokoroapi.herokuapp.com/images/productos/{{img}}" class="rounded-circle" width="150" alt="">
                </div>
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-12 text-center">
                        <span class="h3">{{nombre}}</span>
                    </div>
                </div>

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>